{% extends 'layout.html' %}

{% block body %}
<h1 style="text-align: center;">Welcome, {{session.get('name')}} <b style="text-align: right; font-size:medium;">[Current balance: <u>{{ balance }} RC]</u></b></h1>

{% include 'includes/_messages.html' %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

th {
  border: 1px solid black;
  text-align: center;
  background-color: gray;
  padding: 8px
}

td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:gray;
}
tr:nth-child(odd) {
  background-color:greenyellow;
}
</style>
<body style="background-color: indianred;">
<b><div style="text-align: center; font-size: xx-large;">BLOCKCHAIN</div></b>
    <div>
      <table style="text-align: center;">
        <thead>
          <tr>
            <th>Sno.</th>
            <th>Transaction</th>
          </tr>
        </thead>
        
        <tbody>
          {% for block in blockchain %}
            <tr>
              <td>{{block.number}}</td>
              <td>{{block.data}} RC</td>


            </tr>
          {% endfor %}
            
          
        </tbody>
      </table>
    </div>
  </body>
{% endblock %}
