
<html lang="en">
    <head>
        <title>R-Cell</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">
        <nav style="background-color: white;">
            <div>
                <a href="/login">Login</a> &emsp14;
                <a href="/register">Register</a>
            </div>
        </nav>

        <h1 style="text-align: center;">R-Cell (RC) Cryptocurrency</h1>
        <p style="text-align:center;"><img src="static\images\favicon.ico"></p>
    </head>

    <body style="background-color:cadetblue;">
        <div>
            <h1>
                <title>R-Cell</title>
            </h1>
        </div>
        <main>
            <section>
                <div>
                    <p>R-Cell is a Crypto currency developed by students at VJTI, Mumbai as a part of learning and implementing the technology.</p>
                    <p>R-Cell was implemented using Flask framework and Python.</p>
                    <p style="text-align: center;"><a href="/register">Get started now</a></p>
                </div>
            </section>
        
        </main>
    </body>
</html>
