<!DOCTYPE html>
<!--ADAPTED FROM TEMPLATE at https://getbootstrap.com/docs/4.0/components/card/-->

<html lang="en">

  <head>
    <title> R-Cell - Register</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">
  </head>

  <body style="background-color: peru;">
      <div>Register an Account</div>
      <div>
        {% include 'includes/_messages.html' %}
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="">
          <input type="text" id="inputUsername" name="name" placeholder="Full Name" required="required" autofocus="autofocus" value={{request.form.name}}>
          <label for="fullName">Full Name</label><br>
          <input type="text" id="inputUsername" name="username" placeholder="Username" required="required" autofocus="autofocus" value={{request.form.username}}>
          <label for="inputUsername">Username</label><br>
          <input type="text" id="inputEmail" name="email" placeholder="Email" required="required" autofocus="autofocus" value={{request.form.email}}>
          <label for="inputEmail">Email address</label><br>
          <input type="password" id="inputPassword" name="password" placeholder="Password" required="required" autofocus="autofocus" value={{request.form.password}}>
          <label for="inputPassword">Password</label><br>
          <input type="password" id="confirmPassword" name="confirm" placeholder="Confirm Password" required="required" autofocus="autofocus" value={{request.form.confirm}}>
          <label for="confirmPassword">Confirm Password</label><br>
          <button type="submit">Register</button>
          </form>
      </div>

      <div  style="text-align: center;">
        <a href="login">Already have an account? Login now.</a>&emsp14;
        <a href="/">Home Page</a>
      </div>
  </body>

</html>
